<div fxLayout="row" fxLayoutAlign="center center" *ngFor="let column of (matrice$ | async)">
  <ng-container  *ngFor="let row of column">
    <ng-container *ngIf="row.flash; then flashed; else notFlashed">
    </ng-container>
    <ng-template #flashed>
      <div class="card flash" [ngStyle]="{'background-color': row.color}">
        Flashed
      </div>
    </ng-template>
    <ng-template #notFlashed>
      <div class="card">
        Not flashed
      </div>
    </ng-template>
  </ng-container>
</div>
